<%= form_with model: @product do |form| %>
  <% @product.errors.full_messages.each do |error| %>
    <div> - <%= error %></div><br> 
  <% end %>
  <table>
    <tr>
      <td><%= form.label :title %></td>
      <td><%= form.text_field :title %></td>
    </tr>

    <tr>
      <td><%= form.label :description %></td>
      <td><%= form.text_area :description %></td>
    </tr>

    <tr>
      <td><%= form.label :price %></td>
      <td><%= form.number_field :price %></td>
    </tr>
  </table><br>

  <%= form.submit %>

<% end %>