<div class="mt-3">
  <%= turbo_frame_tag 'home' do  %>
    <h1><%= t('.title') %></h1>

    <%= form_with url: products_path, method: :get do |f| %>

      <%= f.text_field :query_text, placeholder: t('.query_text'),
      onChange: 'this.form.requestSubmit()', value: params[:query_text]  %>

      <%= f.number_field :min_price, placeholder: t('.min_price'),
      onChange: 'this.form.requestSubmit()', value: params[:min_price] %>

      <%= f.number_field :max_price, placeholder: t('.max_price'),
      onChange: 'this.form.requestSubmit()', value: params[:max_price] %>

      <%= f.select :order_by, options_for_select( Product::ORDER_BY.keys.map{ |order| [t(".#{order}"), order] }, params[:order_by]),
      {}, { onChange: 'this.form.requestSubmit()' } %>

    <% end %>
    <div class="mt-3">
      <%= link_to t('.all'), products_path %>
      <%= render partial: 'category', collection: @categories %>
    </div>
    <br>

    <%= turbo_frame_tag "products-#{@pagy.page}", class: 'products' do %>
      <%= render partial: 'product', collection: @products %>
      <%= turbo_frame_tag "products-#{@pagy.next}", class: 'products', 
      src: pagy_url_for(@pagy, @pagy.next),
      loading: :lazy if @pagy.next %>
    <% end %>
  <% end %>
</div>